* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .8em 1em;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

nav h1 {
    color: #f94e30;
    font-size: 30px;
}

nav .title-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1em 0 2em;
}

nav .srch {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

nav .srch input {
    width: 100%;
    padding: .5em;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

nav .srch button {
    position: absolute;
    right: 5px;
    height: 70%;
    padding: 0 .5em;
    background-color: white;
    border: 0;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    border-radius: 5px;
    padding: .5em;
    margin-left: .5em;
}

nav .dropdown-person .dropdown-content .line {
    width: 100%;
    height: .15em;
    background-color: #f94e30;
}

nav .dropdown,
nav .dropdown-person {
    position: relative;
}

nav .dropdown button,
nav .dropdown-person button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    border: 0;
    color: darkgray;
    cursor: pointer;
    text-align: center;
    padding: 0 1em;
}

nav .dropdown button p {
    margin: 0 .5em;
}

nav .dropdown .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    min-width: 150px;
    background-color: white;
    border: 1px solid lightgray;
}

nav .dropdown-person .dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0px;
    min-width: 175px;
    background-color: white;
    border: 1px solid lightgray;
}

nav .dropdown-person .dropdown-content .line {
    width: 100%;
    height: .15em;
    background-color: #f94e30;
}

nav .dropdown .dropdown-content a,
nav .dropdown-person .dropdown-content a {
    color: darkgray;
}

nav .dropdown:hover .dropdown-content,
nav .dropdown-person:hover .dropdown-content {
    display: flex;
}

section {
    width: 600px;
    margin: auto;
}

section .line {
    width: 100%;
    height: 2px;
    background-color: #f94e30;
    margin: 1em 0;
}

section .option {
    margin-bottom: .5em;
    border: 1px solid lightgray;
    border-radius: 5px;
}

section .option .sub-opsi {
    padding: 1em;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

section .option .sub-opsi p {
    margin: 0;
}

section .option .option-content {
    padding: 1em;
    display: none;
}

section .option .option-content form .input,
section .form form .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5em;
}

section .option .option-content form .input input,
section .option .option-content form .input select,
section .form form .input input {
    width: 20em;
    padding: .2em;
    border: 1px solid lightgray;
    border-radius: 3px;
}

section .option .option-content form .input select {
    color: #797c7f;
}

section .option .option-content form .genders,
section .form form .genders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .option .option-content form .genders .gender,
section .form form .genders .gender {
    width: 20em;
}

section .option .option-content form .genders .gender label,
section .form form .genders .gender label {
    margin-right: .3em;
}

section .option .option-content form .address,
section .form form .address {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

section .option .option-content form .address textarea,
section .form form .address textarea {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: .5em;
}

section .option .option-content form button,
section .form form button {
    width: 100%;
    padding: .4em;
    background-color: #f94e30;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 2em;
}